.rowCards{
  margin-bottom: 2.5rem;
}
.cardVinLeft{
  background-color: #7c7c7c;
  padding: 35px 75px;
  text-align: center;
  p{
    color: $white;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    strong{
      cursor: pointer;
    }
  }

  input{
    background-color: transparent;
    color: $white;
    padding: 10px 15px;
    font-weight: 600;
    font-family: $font-primary;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    border: 1px solid $white;
    border-radius: 20px;
    margin: 20px auto;
  }
  input::placeholder{
    font-weight: 600;
    font-family: $font-primary;
    font-size: 14px;
    color: $white;
  }

  button{
    color: white;
    background-color: $color-primary;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border:1px solid $color-primary;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
  }
}
.cardVinRight{
  background-color: #cdcdcd;
  padding: 35px 75px;
  p{
    color: $gray;
    font-family: $font-primary;
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
  }

}

.rowResponse{
  background-color: $color-primary;
  text-align: center;
  margin-bottom: 2.5rem;
  div{
    padding-bottom: 40px;
    padding-top: 20px;
    h3{
      color: $white;
      font-size: 14px;
      font-family: $font-primary;
      font-weight: 600;
      margin-bottom: 15px;
    }
    img{
      margin: 8px auto;
    }
    p{
      color: $white;
      font-size: 14px;
      font-family: $font-primary;
      font-weight: 400;
      text-align: justify;
    }
  }

}

.formCampanaSeguridad{
  .row{
    .groupFormCampana{
      margin-bottom: 20px;
      label{
        padding-left: 8px;
        font-size: 14px;
        font-weight: bold;
      }
      input{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
.titleForm{
  flex-direction: column;
  justify-content: center;
    align-items: center;
  h1{
    font-size: 20px;
    color: $gray;
    font-weight: bold;
  }
  p{
    font-size: 14px;
    color: $gray;
    font-weight: 400;
  }
  .table-responsive{
    max-width: 560px;
  }
}
.vinValidationPOST{
  color: $color-primary !important;
  font-size: 14px;
  text-align: center !important;
  font-weight: bold !important;
}
.enviarCampana{
  background-color: $color-primary;
  color: $white;
  font-size: 15px;
  font-weight: bold;
  max-width: 350px;
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 80px;
}

@media(max-width:767px){
  .cardVinLeft, .cardVinRight{
    padding: 35px;
  }
}

.popoverVIN{
  width: auto;
  background: transparent !important;
  border: 0;
  .popover-body{
    @media(max-width:426px){
      .popoverIMG{
        max-width: 220px;
      }
    }

  }
}
.modalCampanaIMG{
  width: 100%;
}

//Detail VIN
.accordion{
  min-width: 560px;
  margin: 0 auto;
  .card{
    background: transparent;
    border: 0;
    margin: 0 auto;
    .card-header{
      background-color: transparent;
      border-width: 4px;
      padding: 0;
      button{
        background-color: transparent;
        border: 0;
        color: #7c7c7c;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        span:nth-child(2){
          font-weight: 400;
          img{
            margin-top: -1px;
          }
        }
      }
      button:focus {
        background-color: transparent;
        border: 0;
        padding: 5px 15px;

      }
    }
    .card-body{
      padding: 10px 0px;
      .card-text{
        font-family: $font-primary;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}


#agendaVIN{
  min-width: 560px;
  .label-class{
    color: $gray;
  }
  select{
    background-color: white !important;
    width: 100%;
  }
}
@media(max-width: 767px){

#agendaVIN{
  min-width: 100%;
}
  .accordion{
    min-width: 100%;
    margin: 25px auto;
    .card{
      text-align: center;
      .card-header{
        height: auto;
        button{
          justify-content: center;
         align-items: center;
        }
      }
    }
  }
}

