.comunicadoItem {
  background-color: $color-primary;
  padding: 0px;
  margin-bottom: 25px;
  height: 310px;

  @media (max-width: 767px) {
    max-width: 320px;
  }
  &__contentTop{
    text-align: center;
    padding-top: 20px;
    h3 {
      color: $white;
      font-family: $font-primary;
      font-weight: bold;
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    a {
      color: $white !important;
      border-radius: 20px;
      border: 1px solid $white;
      padding: 10px 40px;
      min-width: 150px;
      background: transparent;
      transition: 0.4s all;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover{
      color: $color-primary !important;
      background-color: $white;
      text-decoration: none;
    }
  }
  &__contentBottom {
    background-color: #e9e9ed;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    p {
      color: $light-gray;
      font-size: 14px;
      font-family: $font-primary;
      font-weight: bold;
      margin-bottom: 25px;
    }
    a {
      color: $color-secondary !important;
      border-radius: 20px;
      border: 1px solid $color-secondary;
      padding: 10px 40px;
      min-width: 150px;
      background: transparent;
      transition: 0.4s all;
      cursor: pointer;
      text-decoration: none;
      img{
        margin-left: 10px;
      }
    }
    a:hover{
      border:1px solid $white;
      color: $color-secondary !important;
      background-color: $white;
      text-decoration: none;
    }
  }
}

.paginationStyle {
  margin:40px auto;
  justify-content: center;


  .page-item {
    button {
      border-radius: 10px;
      border: 1px solid $color-primary;
      margin: 0px 3px;
      color: $color-primary;
      outline: none;
      width: 40px;
      height: 40px;
      text-align: center;
    }
  }

  .page-item.active .page-link {
    color: white;
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }

  .page-item .page-link:focus {
    box-shadow: none;
    outline: none;
  }

  .disabled span {
    border-radius: 10px;
    border: 1px solid $color-primary;
    margin: 0px 3px;
    width: 40px;
    height: 40px;
    text-align: center;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 10px;
  }

  @media(max-width:767px){
    .page-item {
      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .disabled span {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


//Detalle Comunicado
.textComunicadoSection{
  h1{
    color: $gray;
    font-size: 24px;
    font-family: $font-primary;
    font-weight: bold;
  }
  &__date {
    color: $gray;
    font-size: 16px;
    font-family: $font-primary;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
  }
  &__text {
    color: $gray;
    font-size: 16px;
    font-family: $font-primary;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
